.div_header *{
    margin:0px; 
    padding:0px; 
    border:0px none; 
    transition: 1s; 
    position:relative;  
    vertical-align: middle; 
    display:flex; 
    justify-content: space-between;
}
.div_header{
    background:white;
    padding:32px 6%;
    text-align:justify; 
    max-width:1140px; 
    position:relative;
    display: flex; 
    justify-content: space-between;  
    min-width:800px; 
    width:100%;
}
.div_header .logo{
    background-image:url("/svg/logo.svg"); 
    background-repeat: no-repeat;
    height:40px; 
    width:87px;
    display: block; 
    margin-right: 10px;
}

.div_header.iv_header_direita{
    display: flex; 
    justify-content: flex-end; 
    min-width:400px;
}
.div_header .div_header_direita .div_local,.div_header .div_header_direita .button_carrinho{
    height: 3em;
    border-radius:6px;
    justify-content:center;
    align-items:center; 
    padding:0px 0.6em; 
    font-size:14px;
}
.div_header .div_header_direita .div_local{
    background:#EBE5F9;
    color:#4B2995; 
    font-family: 'Roboto', sans-serif; 
    margin-right:12px;
}
.div_header .div_header_direita .div_local select{
    background:#EBE5F9;
    color:#4B2995; 
    font-family: 'Roboto', sans-serif; 
    display:inline-block; 
    border-radius: 6px;}


.div_header .div_header_direita .button_carrinho{
    background:#F1E9C9; 
    color:#C47F17; 
    padding:9.37px 10.75px;
}
.div_header .div_header_direita .button_carrinho .div_qtd_carrinho{
    width:20px;
    height:20px; 
    background:#C47F17; 
    color:white; 
    font-weight: bold; 
    font-size: 12px; 
    border-radius:10px;
    text-align: center; 
    line-height:20px; 
    position:absolute; 
    top:-8px;
    right:-8px;
    display:inline-block; 
}
.div_header .div_header_direita .button_carrinho .div_carrinho{
    display:none; 
    position:absolute; 
    left:-150px; 
    top:32px; 
    background:#F1E9C9; 
    height:fit-content; 
    width:300px; 
    border-radius:6px 44px; 
    text-align: center; 
    color:#C47F17; 
    opacity:0.8;
}
.div_header .div_header_direita .button_carrinho .div_carrinho div{
    display:flex; 
    padding:14px; 
    border-top:1px solid #E6E5E5; 
    position:relative;
    width:260px;
    justify-content: space-between; 
    font-weight: bold;
}
.div_header .div_header_direita .button_carrinho:hover .div_carrinho{
    display:block
}